body {
    background-image: url(/Sign-Up-Form/Background.jpg);
}

.main-div {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    background-color: wheat;
    width: 500px;
    height: 900px;
    border: red solid 2px;
    
    border-radius: 40px;
}

h1 {
    display: block;
    text-align: center;
    margin-bottom: 30px;
    color: black;
    font-weight: bold;
    padding: 30px;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}



.p-2 {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.t {
padding-left: 7px;
}

p {
    display: inline-flex;
}

input {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 300px;
    height: 30px;
    border: black solid 1px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    font-weight: normal;
    font-family: monospace;
    
}

label {
    display: block;
    text-align: center;
    padding-right: 60px;
    color: blue;
    font-weight: bold;
    font-size: larger;
}

.btn {
    margin-top: 30px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 25px;
    background-color: darkorange;
    color: white;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    border-radius: 10px;
    width: 200px;
    font-size: larger;
    cursor: pointer;
}

.tel, .cp, .email{
    text-align: center;
}

.tel {
    margin-top: 20px;
    margin-bottom: 5px;
    display: block;
    padding-right: 150px;
}

.cp {
    margin-top: 20px;
    margin-bottom: 5px;
    display: block;
    padding-right: 170px;
}

.pwd {
    margin-top: 20px;
    margin-bottom: 5px;
    display: block;
    padding-right: 190px;
}

.email {
    margin-top: 20px;
    margin-bottom: 5px;
    display: block;
    padding-right: 210px;
}

.userName {
    margin-top: 20px;
    margin-bottom: 5px;
    display: block;
    padding-right: 190px;
}

.fullName {
    margin-top: 20px;
    margin-bottom: 5px;
    display: block;
    padding-right: 190px;
}